* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  opacity: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:  #0a0a0a;
  color: #1a202c;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* tailwind csslike button with css*/
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #20a2ff;
  border: 1px solid #4299e1;
  color: #fff;
  box-shadow: 0 0 transparent;
  transition: all 0.15s ease;
    
}

.button:hover {
  background-color: /* dark blue */ #4299e1;
  border-color: /* darker blue */ #3182ce;
  scale: 1.1;
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button:active {
  background-color: /* darker blue */ #3182ce;
  border-color: /* darkest blue */ #2b6cb0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 1%;
  top: 2%;
  z-index: 2;
}
